body {
	background: #ffffff;
}
#font_adj {
	display: none;
}
#hd_links {
	display: none;
}
#hd {
	background: none;
}
#nav {
	display: none;
}
#display_bg {
	display: none;
}
#display {
	display: none;
}
#breadcrumbs_div {
	display: none;
}
#blue_bar_div {
	display: none;
}
#main {
	background: none;
}
#main_enviro {
	background: none;
}
#main_about {
	background: none;
}
#main_agri {
	background: none;
}
#main_prod {
	background: none;
}
#registration_div {
	display: none;
}
#contact_div {
	border: none;
}
#content_div {
	display: none;
}
#direction_input {
	background: none;
	border: none;
}
.ft_links {
	display: none;
}
.content_div {
	width: 850px;
}
#products {
	border: none;
}
#agri {
	border: none;
}
#welfare {
	border: none;
}
.main_link {
	display: none;
}
#attach_form_div {
	display: none;
}
#ft {
	background: none;
}